.resident{
    max-width: 320px;
    border-radius: 0.8em;
    background-color: rgb(2, 40, 14);
    overflow: hidden;
    box-shadow: 0.2em 0.2em 0.5em #0009;
    margin-bottom: 2em;
    transition: transform 500ms;
}
.resident:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0.2em 0.2em 0.5em #72af10;
}
.resident__header{
position: relative;
}
.resident__status{
    background-color: rgb(2, 40, 14); 
    position: absolute;
    top: 15%;
    width: 35%;
    padding: 0.3em 0 0.3em 0.5em;
    border-radius: 0 0.5em 0.5em 0;
    display: flex;
    gap: 0.3em;
    align-items: center;
}
.resident__status-circle{
    width: 20px;
    aspect-ratio: 1;
    background-color: rgb(88, 96, 95);
    border-radius: 50%;
}
.Alive{
background-color:  #72af10;
}
.Dead{
    background-color: rgb(229, 9, 9);
}
.unknown{
    background-color: rgb(88, 96, 95);
}
.resident__body{
    padding: 1.4em 1.2em 2em;
}
.resident__name{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0.5em;
}
.resindet__hr{
border-color: rgb(90, 228, 212);
}
.resident__list{
display: grid;
gap: 1em;
}
.resident__item{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.resident__label{
    padding-left: 1em;
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(153, 152, 151);
}